# Real world Scenario with Numpy

<hr>

<img src="https://i.imgur.com/mRN9H4v.png"/>

In [1]:
import numpy as np

In [2]:
names = np.array(("Khaled", "Hamad", "Mohammed", "Reem","Fahad", "Saleh", "Nora"))
ages = np.array((17, 60, 21, 55, 29, 24, 19))

In [3]:
x = (-ages).argsort()
names = names[x]
y = np.sort(ages)[::-1]
ages = y
print(ages,names)

[60 55 29 24 21 19 17] ['Hamad' 'Reem' 'Fahad' 'Saleh' 'Mohammed' 'Nora' 'Khaled']

<hr>

<img src="https://i.imgur.com/jbHKBPR.png![image.png](attachment:49d72e8d-c091-43ab-8ecd-db9a79858664.png)![image.png](attachment:ae9cf8e0-d2c1-4396-8bfc-0d7016cff2ad.png)![image.png](attachment:8f96c12e-5e2a-432b-b706-429bbafdeccc.png)![image.png](attachment:bd54d228-298e-4fdd-8464-49002837e5e5.png)"/>

In [4]:
import calendar

In [5]:
month_names = list(calendar.month_name)[1:]
temperature_data = np.array([40, 38, 28, 20, 15, 28, 35, 40, 48, 45, 40, 43])
threshold = 35

In [6]:
temperature_data.mean()
z = np.where(temperature_data > threshold)
print ("avarage = ",temperature_data.mean())
print("the temperature above the threshold = ",z)
print("the highest temperature = ",temperature_data.max(),"the lowest temperature = ",temperature_data.min())
print("the temperature range = ",temperature_data.max()-temperature_data.min())

avarage =  35.0
the temperature above the threshold =  (array([ 0,  1,  7,  8,  9, 10, 11], dtype=int64),)
the highest temperature =  48 the lowest temperature =  15
the temperature range =  33

<hr>

<img src="https://i.imgur.com/eiXHG9y.png"/>

In [7]:
students = np.array(['Mohammed', 'Lama', 'Norah', 'Ahmed', 'Fahad'])
math_scores = np.array([80, 92, 75, 68, 88])
ML_scores = np.array([85, 78, 92, 64, 90])
DS_scores = np.array([70, 88, 75, 82, 78])

<h3>here is the requested calculation

In [8]:
print("math average ",math_scores.mean())
print("math highest ",math_scores.max())
print("math lowest ",math_scores.min())
print("math standered deviation ",math_scores.std())
print("machine learning average ",ML_scores.mean())
print("math highest ",ML_scores.max())
print("math lowest ",ML_scores.min())
print("math standered deviation ",ML_scores.std())
print("data structure average ",DS_scores.mean())
print("math highest ",DS_scores.max())
print("math lowest ",DS_scores.min())
print("math standered deviation ",DS_scores.std())

math average  80.6
math highest  92
math lowest  68
math standered deviation  8.662563131083086
machine learning average  81.8
math highest  92
math lowest  64
math standered deviation  10.127191120937729
data structure average  78.6
math highest  88
math lowest  70
math standered deviation  6.118823416311342

<h3>here is the highest and lowest overall scores

In [9]:
total = np.array(5,)
total = math_scores+ML_scores+DS_scores
print("the highest student is :",students[total.argmax()],"with",total.max(),"scores.")
print("the lowest student is :",students[total.argmin()],"with",total.min(),"scores.")

the highest student is : Lama with 258 scores.
the lowest student is : Ahmed with 214 scores.

<h3>here is the failed students
<h5>(Fortunately there is None)

In [10]:
print(students[np.where(math_scores < 40)])
print(students[np.where(ML_scores < 40)])
print(students[np.where(DS_scores < 40)])

[]
[]
[]

<h3>here is normalized scores with there new mean and standered deviation
<h5>(the new mean is almost 0 and the new standered deviation almost 1)

In [11]:
math_scores1 = (math_scores - math_scores.mean()) / math_scores.std()
print("the new math array : ",math_scores1)
print("\nthe new mean standered deviation =",math_scores1.mean(),"\nthe new standered deviation =",math_scores1.std())
ML_scores1 = (ML_scores - ML_scores.mean()) / ML_scores.std()
print("\n\nthe new machine learning array : ",ML_scores1)
print("\nthe new mean standered deviation =",ML_scores1.mean(),"\nthe new standered deviation =",ML_scores1.std())
DS_scores1 = (DS_scores - DS_scores.mean()) / DS_scores.std()
print("\n\nthe new data structure array : ",DS_scores1)
print("\nthe new mean standered deviation =",DS_scores1.mean(),"\nthe new standered deviation =", DS_scores1.std())

the new math array :  [-0.06926356  1.31600773 -0.64645994 -1.45453485  0.85425063]

the new mean standered deviation = 5.995204332975846e-16
the new standered deviation = 0.9999999999999999


the new machine learning array :  [ 0.315981   -0.37522744  1.00718944 -1.75764432  0.80970132]

the new mean standered deviation = 2.6645352591003756e-16
the new standered deviation = 1.0


the new data structure array :  [-1.40549897  1.53624306 -0.58834841  0.55566238 -0.09805807]

the new mean standered deviation = 9.076073226310656e-16
the new standered deviation = 1.0

<hr>

### <center> Great job! Keep exploring and learning. Your progress is remarkable. 

<hr>

<hr>